@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 768px;
    margin: auto;
    padding: 62px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444;
    background-color: #c7e4c7;
}

#txt{
    font-size: 24px;
    font-weight: bold;
    color: #d16568;
}

nav{
    margin: 12px 0px;
}
    nav button{
        padding: 8px 32px;
        color: #fff;
        border: 1px solid #3c3c3c;
        border-radius: 8px;
        background-color: #1b1f1b;
        transition: 500ms;
    }
    nav button:hover{
        background-color: #313b31;
    }

    nav a{
        color: #444;
        padding: 8px 32px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px 8px 0px 0px;
        text-decoration: none;
        transition: .5s;
    }
    nav a:hover{
        background-color: #e2ffe2;
    }

#caja{
    width: 120px;
    height: 120px;
    margin: 16px 0px;
    border-radius: 8px;
    background-color: #c9c9c9;
    border: 1px solid #999;
    padding: 12px;
    color: #fff;
}

ul{
    width: 200px;
    margin: 24px;
}
    li{
        list-style-type: none;
        border-left: 3px solid rgb(36, 50, 36);
        padding: 4px 8px;
        background-color: #d5eed5;
        margin: 1px 0px;
        transition: .3s;
    }
    li:hover{
        background-color: #fff;
        font-size: 20px;
        color: rgb(56, 74, 63);
    }

#contenedor{
    width: 450px;
    margin: 32px auto;
    background-color:  #262d26;;   
    padding: 32px;
    border-radius: 12px;
}
    #campoNombre{
        width: 100%;
        background-color:  #e9f4e9;;   
        border: none;
        padding: 8px;
        border-radius: 6px;
    }
    #contenedor button{
        margin-top: 24px;
        width: 100%;
        background-color:  #f7cd64;  
        border: none;
        padding: 8px;
        border-radius: 6px;
    }
    #msjError{
        color: rgb(253, 120, 120);
    }